body{
        padding: 5px 10px 10px 10px;
        background-image: url(../img/background.jpg);
        background-repeat: repeat-y;
        color: lightgray;
        font-family: 'Quicksand', sans-serif;
}
#divtopo{
        height: 9%;
}
#curriculum{
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
}
section.row{
        z-index: 5;
}
.navbar{
        z-index: 5;
        margin-top: 1px;
        margin-right: 5px;
        margin-left: 5px;
        color: white;
        background-color: rgb(0, 0, 0, 0.9);
        border: solid 1px lightgray;
        border-radius: 15px;
}
.navbar-brand:hover{
        color: white;
}
.icon-bar{
        background-color: lightgray;
}
a{
        text-decoration: none;
        color: white;
}
.btn{
        margin-left: 15px;
}
div.row{
        background-color: rgb(0, 0, 0, 0.5);
        border: solid 1px lightgray;
        border-radius: 15px;
        padding: 25px 0px 25px 0px;
        margin-bottom: 20px;
}
.imagemTopo {
        margin-bottom: 10px;
        float: left;
}
.textoTopo{
        padding: 10px;
        font-size: 17px; 
        
}
.imagemExp{
        margin-bottom: 10px;
        float: right;
}
.textoExp{
        padding: 10px;
        font-size: 17px; 
        text-align: right;
        
}
.imagemCentro{
        float: left; 
        margin-bottom: 10px;
}
.textoCentro{
        padding: 10px;
        font-size: 17px;
}
.imagemRodape{
        float: right;
        margin-bottom: 10px;
}
.textoRodape{
        padding: 10px;
        font-size: 17px;
        text-align: right;
}
.imagemContato{
        float: left;
        margin-bottom: 10px;
}
.textoContato{
        padding: 10px;
        font-size: 17px;
}
#map{
        border-radius: 10px;
        float: left;
        width: 100%;
        height: 300px;

}
.textoEndereco{
        padding: 10px;
        float: left;
        padding: 0px 20px 0px 20px;
        font-size: 16px;
        text-align: left;
}
#btntopo{
        width: 50px;
        margin: 0 auto;  
        border-radius: 100px;
        
}
#btntopo:hover{
        background-color: gray;
}
footer{
       
}