body{
        background-image: url(../img/background.jpg);
        background-repeat: repeat-y;
        font-family: 'Quicksand', sans-serif;
        color: lightgray;
        text-align: center;
        font-size: 16px;
}
.div{
        background-color: rgb(0, 0, 0, 0.7);
        border: solid 1px lightgray;
        border-radius: 10px;
        width: 280px;
        margin:0px auto;
        margin-top: 80px;

}
.container2{
        padding: 10px;

}
img {
        width: 65%;
        margin-left: 43px;
        margin-top: 20px;
        margin-bottom: 20px;
}
.btn {
        margin-top: 15px;
        width: 80%;
        height: 45px;
}
.form-control{
        height: 40px;
        margin-top: 15px;
}
